.navbar {
    padding: 1rem !important;
    height: 12rem;
    margin-bottom: 0!important;
}

.navbar img {
    margin-top: 3rem;
}

.logo-PE {
    float: left;
}

.welcome{
    text-align: center;
    margin-top: 3rem;
}

.date{
    float: right;
    text-align: right;
    margin: 2rem;
}

.quit{
    float: right;
    margin-right: 1rem!important;
    margin-top: -1rem!important;
    background-color: #f44336;
    color: #fff;
}