.navbar {
    padding: 1rem !important;
    height: 10rem;
}

.navbar img {
    margin-top: 2rem;
}

.logo-PE {
    float: left;
}

.welcome{
    text-align: center;
}

.date{
    float: right;
    text-align: right;
    margin: 2rem;
}