.btn1 {
    background-color: #81d4fa;
}

.btn2 {
    background-color: #29b6f6;
}

.btn3 {
    background-color: #00acc1;
}

.btn4{
    background-color: #29b6f6;
}

.btn0{
    background-color: #01579b;
}

.tooltip0{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e1f5fe;
}

.btn1, .btn2, .btn3, .btn0, .btn4 {
    margin: 2rem;
    padding: 3rem !important;
    color: #fff;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn0:hover, .btn4:hover {
    color: #fff !important;
}

.btn1:focus, .btn2:focus, .btn3:focus, .btn0:focus, .btn4:focus {
    color: #fff !important;
}

.btn-grp-1{

    margin-top: 3.3%;
}

.btn-content{

    margin-top: 5%;
}

.main-content{
    height: 100%;
    width: 100%;
}

.no-margin{
    margin: 0!important;
}
