.content-area{
    height: 100%;
    width: 100%;
    background-color: #e1f5fe!important;
}

.desc-area{
    margin-top: 6%;
}

.mt{
    margin-top: 6%;
}

.mt-1{
    margin-top: 6%;
}

.mt-2{
    margin-top: 6%;
}