.content-area{
    height: 100%;
    width: 100%;
    background-color: #e1f5fe!important;
}

.desc-area{
    margin-top: 7%;
}

.mt{
    margin-top: 10%;
}

.mt-1{
    margin-top: 10%;
}

.mt-2{
    margin-top: 10%;
}

.back-btn{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff!important;
    background-color: #006064;
}

.back-btn:hover, .back-btn:focus{
    color: #fff!important;
}

.quit{
    background-color: #006064;
    color: #fff!important;
}

.quit:hover, .quit:focus{
    color: #FFF!important;
}